basePath: /
definitions:
  handlers.ErrorResponse:
    properties:
      code:
        type: integer
      error: {}
      message:
        type: string
    type: object
  handlers.Response:
    properties:
      data: {}
      message:
        type: string
    type: object
  models.Event:
    properties:
      createdAt:
        type: string
      domain:
        type: string
      domainType:
        type: string
      duration:
        type: integer
      errorCode:
        type: integer
      errorMessage:
        type: string
      name:
        type: string
      projectToken:
        type: string
      rawData:
        type: string
    type: object
host: gw.verifire.dev/stat
info:
  contact:
    name: Artem Kostenko
    url: https://github.com/aerosystems
  description: A part of microservice infrastructure, who responsible for statistics
    events
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Stat Service API
  version: 1.0.0
paths:
  /v1/events:
    get:
      consumes:
      - application/json
      description: Get Events by project token
      parameters:
      - description: Project Token
        in: query
        name: projectToken
        required: true
        type: string
      - description: Limit. Must be integer. Default 10
        in: query
        name: limit
        type: integer
      - description: Offset. Must be integer. Default 0
        in: query
        name: offset
        type: integer
      - description: Start time in RFC3339 format. Default NOW - 24 hours
        in: query
        name: startTime
        type: string
      - description: End time in RFC3339 format. Default NOW
        in: query
        name: endTime
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/handlers.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.Event'
                  type: array
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/handlers.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/handlers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handlers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get Events
      tags:
      - events
schemes:
- https
securityDefinitions:
  BearerAuth:
    description: Should contain Access JWT Token, with the Bearer started
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
